* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  color: white;
  /* font-size: 1rem; */
  font-family: Verdana sans-serif;
}

.container {
  /* height: 100vh; */
  background: #136a8a;
  background: -webkit-linear-gradient(to right, #267871, #136a8a);
  background: linear-gradient(to right, #267871, #136a8a);
}
/* login */
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
h1,
h2 {
  margin-bottom: 1rem;
  color: white;
  text-align: center;
}
select {
  border: 1px solid black;
  width: 15rem;
  height: 2rem;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(232 232 232);
  color: black;
}
form input {
  border: 1px solid black;
  width: 15rem;
  height: 2rem;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(232 232 232);
  color: black;
}
::placeholder {
  color: rgb(0 0 0);
}
input[type="submit"] {
  width: 5rem;
  border-radius: 5px;
  background-color: #52cbed;
  color: black;
  cursor: pointer;
  transition: all 0.5s ease;
}
input[type="submit"]:hover {
  -webkit-box-shadow: inset 9px -7px 65px -18px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: inset 9px -7px 65px -18px rgba(0, 0, 0, 0.76);
  box-shadow: inset 9px -7px 65px -18px rgba(0, 0, 0, 0.76);
}

/* shop */

.card {
  background-color: #0000002c;
  padding: 4rem;
  border-radius: 1rem;
}
.shop-container {
  display: grid;
  grid-template-columns: 30% 1fr;
  /* height: auto; */
}
aside {
  padding: 1rem;
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop-cards {
  padding: 1rem;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  /* align-items: start; */
}
.shop-cards form {
  margin: 0 auto;
}
.shop-card {
  background-color: rgb(0 0 0 / 19%);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  padding: 1rem;
  max-width: 280px;
  transition: all 0.5s ease;
}

.aside-search {
  background-color: rgb(0 0 0 / 19%);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  padding: 1rem;
  width: 100%;
  transition: all 0.5s ease;
}
aside fieldset {
  border: 1px solid #52cbed;
  width: 12rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}
aside legend {
  padding: 0 5px;
}
aside fieldset label {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
}
.checkbox {
  width: 1rem;
  height: 2rem;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(232 232 232);
  /* color: black; */
  color: red;
}
.shop-card:hover {
  /* border: 2px solid #da81338f; */
  -webkit-box-shadow: 0px 0px 13px 1px #da81338f;
  -moz-box-shadow: 0px 0px 13px 1px #da81338f;
  box-shadow: 0px 0px 13px 1px #da81338f;
}
.shop-card-img {
  border-radius: 1rem;
  overflow: hidden;
}
.shop-card-img img {
  transition: all 0.2s ease-in;
}
.shop-card-img img:hover {
  transform: scale(1.2);
}
#delete-item {
  background-color: rgb(217 127 73 / 75%) !important;
}
.form-control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
footer {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
